%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{:href => "/"} TimeIt
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    / %li.toggle-topbar.menu-icon
    /   %a{:href => "#"}
    /     %span Menu
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      %li.divider
      %li
        %a{:href => "/timers"} Timers
