%h2
  Timers
- unless @timers.nil? or @timers.count < 1
  #timers
    %table
      %thead
        %tr
          %th ID
          %th Name
          %th End Date
      %tbody
        - @timers.each do |timer|
          %tr
            %td
              = timer.id
            %td
              %a{href:"/timers/#{timer.id}"}
                = timer.name
            %td
              = timer.end
- else
  No timers